<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<table style="border-collapse: collapse; width: 100%; border: 1px solid black;">
  <thead>
    <tr>
      <th style="border: 1px solid black; padding: 8px;">
        <%= sortable "title", "Title" %>
      </th>
      <th style="border: 1px solid black; padding: 8px;">
        <%= sortable "rating", "Rating" %>
      </th>
      <th style="border: 1px solid black; padding: 8px;">
        <%= sortable "release_date", "Release Date" %>
      </th>
      <th style="border: 1px solid black; padding: 8px;">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td style="border: 1px solid black; padding: 8px;"><%= movie.title %></td>
        <td style="border: 1px solid black; padding: 8px;"><%= movie.rating %></td>
        <td style="border: 1px solid black; padding: 8px;"><%= movie.release_date %></td>
        <td style="border: 1px solid black; padding: 8px;"><%= link_to 'Show this movie', movie %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4" style="border: 1px solid black; padding: 8px;">Total Movies: <%= @movies.count %></td>
    </tr>
  </tfoot>
</table>



<%= link_to "New movie", new_movie_path %>
